.todo-item {
  position: relative !important;
  width: 500px !important;
}

.todo-item__checkbox {
  position: absolute !important;
  top: 13px;
  left: 20px;
  max-width: 400px !important;
}

.todo-item__edit {
  position: absolute !important;
  top: 0px;
  right: 20px;
}
