.focused
  background-color: #B0BEC5 !important
  .category__name
    color: white
    font-weight: 400
  .category__actions *
    color: white

.category
  height: 40px
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  padding: 17px

  .category__actions *
    padding: 5px
